voice-agent-n8n/voice-agent.json
{
  "name": "Caller",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      twiml: `<Response>\n  <Say voice=\"alice\">${$json[\"choices\"][0][\"message\"][\"content\"]}</Say>\n</Response>`\n    }\n  }\n];"
      },
      "name": "TwiML Formatter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        -20
      ],
      "id": ""
    },
    {
      "parameters": {},
      "name": "Start Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1020,
        -20
      ],
      "id": ""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-or-v1-(your model name)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://example.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"deepseek/deepseek-v3-base:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json[\\\"prompt\\\"] || 'Give a fun and friendly reminder to drink water' }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -20
      ],
      "id": "",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/(acc no)/Calls.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "(your phone number)"
            },
            {
              "name": "From",
              "value": "(twilio phone number)"
            },
            {
              "name": "Twiml",
              "value": "={{ $json.twiml }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        -20
      ],
      "id": "(your id)",
      "name": "HTTP Request1",
      "credentials": {
        "twilioApi": {
          "id": "(your id)",
          "name": "Twilio account "
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Manual": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TwiML Formatter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "TwiML Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
